
* {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    transition: transform 0.2s ease, padding 0.2s ease;
    font-family: 'Noto Sans SC', 'Source Han Sans', '思源黑体';
}

.preload {
    visibility: hidden;
}

.mainview
{
    display: flex;
    width: 50%;
    margin-left: 23vw;
    margin-top: 5vh;
    padding: 2vw;
    border-radius: 0.8em;
    border-top-left-radius: 0;
    background-color: whitesmoke;
    box-shadow: 0 12px 12px rgba(0,0,0,0.1);
    min-height: 60vh;
    color: #333;
    font-size: 0.6vw;
}

.headers {
    display: flex;
    justify-content: left;
    gap: 8px;
    margin-left: 23vw;
    width: 50%;
    position: relative;
    top: 5vh;
    font-size: 1vw;
}

.headers .logo {
    display: flex;
    background: whitesmoke;
    border-bottom: none;
    border-radius: 0.5em 0.5em 0 0;
    padding-right: 0.5em;
    transform: translateY(4px);
    align-items: center;
}

.headers .logo .icon {
    background-image: url("icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 2vw;
    width: 2vw;
}

.headers .logo p {
    color: #333;
    font-weight: bold;
}

.headers a {
    text-decoration: none;
    color: #333;
    padding: 0.5em 1em;
    background: whitesmoke;
    border-bottom: none;
    border-radius: 0.5em 0.5em 0 0;
    font-weight: bold;
    transform: translateY(4px);
}

.headers a:hover {
    transform: translateY(0);
}

.background {
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.headers a.active {
    background: white;
}

.news {
    margin-bottom: 2vh;
}

.news .date-author {
    font-size: 90%;
    color: #555;
}

.news h1,
.download h1 {
    color: #AA7700;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
    font-size: 200%;
}

.download {
    margin-bottom: 2vh;
    display: flex;
    align-items: flex-start;
}

.download .date {
    display: inline;
    font-size: 90%;
    color: #AA7700;
}

.download .description {
    display: inline;
    color: #555;
}

.download .download-links {
    gap: 1em;
    margin-top: 2vh;
    margin-bottom: 0.5em;
    padding-right: 0.8vw;
    border-right: 2px solid #ccc;
}

.download .download-info {
    padding-left: 0.8vw;
}

.download a {
    text-decoration: none;
    color: #552200;
    display: block;
}

.download a:hover {
    transform: translateY(-2px);
}

.copyleft {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #333;
    font-size: 0.5vw;
    font: bold;
    z-index: 1000;
}